header {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: center;
  background-color: whitesmoke;
}


.info1{
    display: inline-block;
    text-align: right;
    background-color: #30AFFF;
    margin: auto;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    align-items: right;
    font-weight:300 ;

}

.info1 a{
    text-decoration: none;
    color:white;
    font-family: 'Rajdhani', sans-serif;
}

.info0 a{
    text-decoration: none;
    color:white;
}

.info0{
    display: inline-block;
    text-align: right;
    background-color: #30AFFF;
    margin: auto;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    align-items: right;
    font-family: 'Rajdhani', sans-serif;
    margin-left: auto;
    font-weight: 600;
}



.nav_link {
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-align:center;
}

.nav{
    font-size: 20px;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 600;
}

.selogan{
    color: white;
    text-decoration: none;
    text-align: right;
}

body{
    background-image: url("backgroud.png");
    background-size: cover;
    background-position: center;
    background-attachment:fixed;
}

.logo{
    text-decoration: none;
    text-align: center;
    
}

